!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>
<h1 th:inline="text"> Information about employee - [[${#httpServletRequest.remoteUser}]]!</h1>
<body>
<br/>

<div>
    <label>Id:</label>
    <span th:text="${currentUser.getId()}"/>
    <br>
    <label>Name:</label>
    <span th:text="${currentUser.getUsername()}"/>
    <br>
    <label>Surname:</label>
    <span th:text="${currentUser.getEmail()}"/>
    <br>
</div>

<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>